apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: e-zuka-connect
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
